---
import { Image } from "astro:assets";
import gii_solution_artboard from "../../../public/images/gii_solution_artboard.webp";
---

<div
  class="lg:pt-16 lg:pb-0"
  aria-label="Main Wrapper flex flex-col items-center"
>
  <div class="items-center gap-12" aria-label="Main  container">
   <div class="container text-center gap-12  max-md:max-w-full flex w-full flex-col justify-center max-w-screen-2xl mx-auto lg:py-24 py-12 px-4 lg:px-20 2xl:px-0">
    <div
    class="flex flex-col gap-8 text-center text-[#243544]"
    aria-label="Header Section"
  >
    <h1
      class="lg:text-[54px] lg:leading-[1.5] leading-[1] font-bold max-md:max-w-full text-[2.25rem] w-full"
      aria-label="Title"
    >
      La première solution complète et phygitale pour déployer une stratégie
      numérique responsable concrète!
    </h1>
    <p class="text-center text-lg">
      Avec la méthodologie Green It Impact, devenez un Expert en Numérique
      Responsable !
    </p>
  </div>
  <Image
    alt="Image representing the Phygital solution"
    src={gii_solution_artboard}
    width="927"
    height="300"
    class="mx-auto"
    loading="lazy"
    aria-label="Phygital Solution Image"
  />
   </div>
   <div
   class="flex flex-col gap-10 text-lg bg-[#283E52] w-full lg:py-24 py-12  max-xl:px-4 "
   aria-label="Description Section"
 >
   <div class="container mx-auto flex flex-col gap-10 ">
     <p
       class="flex-1 shrink gap-2.5 w-full leading-10 text-white max-md:max-w-full"
       aria-label="Description Text One"
     >
       Parce qu'une approche numérique responsable vise aussi à
       sensibiliser à la matérialité de l'invisible, nous avons conçu des
       jeux de cartes interactifs et éducatifs pour certaines étapes de la
       mise en place de la méthodologie.
     </p>
     <p
       class="flex-1 shrink gap-2.5 w-full leading-10 text-white max-md:max-w-full"
       aria-label="Description Text Two"
     >
       Observer, se questionner et manipuler avec ses mains demeurent les
       meilleures manières de s'imprégner des enjeux du numérique.
     </p>
     <div
       class="text-center m-auto mt-12 w-full"
       aria-label="Demo Request Section"
     >
       <button
         class="bg-[#AEC90B] px-12 py-2.5 font-semibold text-slate-800 rounded-md hover:bg-[#AEC90B] transition max-md:w-full"
         aria-label="Book a demo"
       >
         Réserver une démo
       </button>
     </div>
   </div>
 </div>
  </div>
</div>
