---
import { Image } from "astro:assets";
import gii_step_5_pic from "../../../public/images/gii_step_5_pic (1).webp";
import gii_step_5_pic_large from "../../../public/images/gii_step_5_pic_large.webp";
---

<section class="md:flex-row items-center text-[#243544] 2xl:mx-auto 2xl:container w-full mx-auto lg:gap-24 flex flex-col lg:py-24 py-12">
  <div class="md:w-1/2 2xl:pl-0 pl-4 pr-10 flex flex-col gap-8 text-lg lg:pl-20 px-4">
    <div class="flex items-center gap-6 lg:mt-2">
      <span class="text-7xl font-medium">5.</span>
      <div>
        <h4 class="font-semibold text-[28px]">Pilotez les évolutions !</h4>
        <p class="mt-4 text-lg">
          Suivez, analysez et comprenez les indicateurs de performance grâce à un point mensuel réalisé par nos meilleurs experts.
        </p>
      </div>
    </div>
    <p class="text-lg">
      Vous pourrez aller toujours plus loin dans la démarche, les résultats et la performance environnementale, économique et sociétale. Nos experts vous accompagnent dans la mise en œuvre de votre stratégie en vous offrant un accompagnement personnalisé.
    </p>
  </div>

  <div class="md:w-1/2 w-full flex justify-end mt-8 md:mt-0 2xl:hidden max-md:hidden">
    <Image
      alt="Image illustrating the evaluation of your footprint"
      src={gii_step_5_pic}
      width="619"
      height="498"
      class="self-stretch my-auto lg:w-[619px] flex lg:block"
      loading="lazy"
      aria-label="Image related to evaluating your footprint"
    />
  </div>

  <div class="hidden 2xl:flex md:w-1/2 w-full justify-center lg:justify-end mt-8 md:mt-0 max-md:flex  px-4 lg:px-0 2xl:px-0">
    <Image
      alt="Image illustrating the evaluation of your footprint"
      src={gii_step_5_pic_large}
      width="619"
      height="498"
      class="w-full my-auto lg:w-[619px] flex lg:block"
      loading="lazy"
      aria-label="Image related to evaluating your footprint"
    />
  </div>
</section>