---
import { Image } from "astro:assets";
import { styles } from "../../constant";
import imgimages_gii_solution_img_6_webp from "../../../public/images/planète-verte-souriante.webp";
---

<div class={`container max-w-screen-2xl mx-auto px-4 lg:px-20 2xl:px-0`}>
  <div class="flex flex-wrap flex-col lg:flex-row gap-10 items-center w-full">
    <div class="order-2 lg:order-1 lg:w-auto">
      <Image
        alt=""
        src={imgimages_gii_solution_img_6_webp}
        width="400"
        height="300"
        class="my-auto lg:w-[376px] mx-auto"
        aria-hidden="true"
        loading="lazy"
      />
    </div>
    
    <div class={`flex flex-col flex-1 justify-center items-center p-4 lg:p-10 rounded-xl lg:rounded-3xl basis-0 text-[${styles.baseTextColor}] min-w-[240px] order-1 lg:order-2 bg-white`}>
      <div class="flex gap-2.5 items-center w-full">
        <h3 
          class="text-7xl font-medium"
          aria-label="Step number: 6"
        >
          6.
        </h3>
        <h4 
          class="text-[28px] font-semibold leading-10 flex-1"
          aria-label="Step Title: Obtenez la labellisation Numérique Responsable !"
        >
          Obtenez la labellisation Numérique Responsable !
        </h4>
      </div>
      
      <div class="mt-10 flex flex-col gap-8 lg:gap-10">
        <p 
          class="text-lg leading-8"
          aria-label="Detail text for Step Six"
        >
          Obtenez le seul <a href="https://label-nr.fr/" class="underline">label européen</a> pour le numérique responsable afin de confirmer, 
          démontrer et certifier la pertinence des actions mises en œuvre, et d'en être 
          concrètement récompensé !
        </p>
      </div>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center pt-10 mt-2.5 w-full text-white">
    <p
      class="text-center leading-8 lg:leading-10 w-full"
      aria-label="Call to action for Step Six"
    >
      Vous souhaitez agir pour un numérique responsable et obtenir des résultats tangibles ?
    </p>
    
    <div class="mt-12 flex justify-center w-full lg:w-auto">
      <a 
        href="https://drive.digitalforest.fr/apps/calendar/appointment/swJexzmM8c8t"
        class="bg-[#B7D433] text-[#243544] font-medium text-lg px-6 py-2.5 rounded-md hover:bg-[#9AB22B] transition-colors duration-200 lg:w-[410px] text-center w-full"
        aria-label="Contact button for responsible digital actions"
        tabindex="0"
      >
        Réserver une démo
      </a>
    </div>
  </div>
</div>
