---
import { Image } from "astro:assets";
import gii_rank_dashboard_large from "../../../public/images/gii_rank_dashboard_large.webp";
---

<section
  class="md:flex-row items-center text-[#243544] 2xl:mx-auto 2xl:container w-full mx-auto lg:gap-4 flex flex-col lg:pb-24 pb-12"
>
  {/* Left Side - Text Content */}
  <div class="md:w-1/2 2xl:pl-0 pl-4 flex flex-col gap-8 text-lg lg:pl-20 px-4">
    <div class="flex items-center gap-6 lg:mt-2">
      <h3 class="text-7xl font-medium">1.</h3>
      <div>
        <h4 class="font-semibold text-[28px]">Évaluez votre maturité</h4>
        <p class="mt-4 text-lg">
          Nous avons mis notre expérience et créativité à contribution pour
          concevoir une évaluation de maturité exhaustive et unique.
        </p>
      </div>
    </div>
    <p class="text-lg">
      Grâce à un jeu de cartes ludique et collaboratif, qui s'anime pour
      matérialiser votre état des lieux, vous pouvez définir une ligne de
      départ et suivre votre évolution en temps réel.
    </p>
  </div>

  <div class="md:w-1/2 w-full flex justify-end mt-8 md:mt-0 px-4 lg:px-0">
    <figure>
      <Image
      alt="Capture d'écran du tableau de bord suivant le jeu de cartes pour évaluer le niveau de maturité.."
      src={gii_rank_dashboard_large}
      class="relative self-stretch my-auto lg:w-full flex lg:block xl:left-[50px] 2xl:left-0 w-full"
      loading="lazy"
      aria-label="Capture d'écran du tableau de bord suivant le jeu de cartes pour évaluer le niveau de maturité.."
    />
      <figcaption class="hidden">Tableau de bord de Green IT Impact - Suivi de l'évolution du score de maturité mois par mois.</figcaption>
    </figure>
  </div>
</section>
