---
import { Image } from "astro:assets";
import gii_rank_dashboard from "../../../public/images/gii_rank_dashboard (1).webp";
import gii_rank_dashboard_large from "../../../public/images/gii_rank_dashboard_large.webp";
---
<section class="relative md:flex-row items-center text-white 2xl:mx-auto 2xl:container w-full mx-auto lg:gap-24 flex flex-col lg:py-24 py-12 bg-[#283E52]">
  
  <div class="order-2 md:order-1 lg:order-1 md:w-1/2 w-full flex justify-start mt-8 md:mt-0 2xl:hidden max-md:hidden lg:px-0 2xl:px-0">
    <Image
      alt="GII solution illustration"
      src={gii_rank_dashboard}
      width="644"
      height="479"
      class="self-stretch my-auto lg:w-[644px] flex lg:block"
      loading="lazy"
      aria-label="GII solution illustration"
    />
  </div>

  <div class="hidden 2xl:flex md:w-1/2 w-full lg:justify-start px-4 mt-8 md:mt-0 max-md:flex order-2 lg:order-1 lg:px-0 2xl:px-0">
    <Image
      alt="GII solution illustration"
      src={gii_rank_dashboard_large}
      width="644"
      height="479"
      class="w-full my-auto lg:w-[644px] flex lg:block"
      loading="lazy"
      aria-label="GII solution illustration"
    />
  </div>
  <div class="md:w-1/2 2xl:pl-0 pl-4 pr-10 flex flex-col gap-8 text-lg lg:pl-20  order-1 lg:order-2">
    <div class="flex items-center gap-6 lg:mt-2">
      <h3 class="text-7xl font-medium">4.</h3>
      <div>
        <h4 class="font-semibold text-[28px]">Engagez vos collaborateurs et parties prenantes !</h4>
        <p class="mt-4 text-lg">
          Impliquez l'ensemble de l'écosystème interne et externe de l'entreprise pour maximiser les impacts positifs grâce à une approche innovante de "gamification" qui les challenge au quotidien.
        </p>
      </div>
    </div>
    <p class="text-lg">
      Éduquez et challengez vos collaborateurs pour les sensibiliser, les former et les transformer en ambassadeurs de votre démarche NR vertueuse. Grâce à des challenges mensuels, des quiz, des fresques, des MOOC, des vidéos et des questionnaires, suivez leurs progressions mois après mois et observez les résultats tangibles de votre stratégie numérique responsable, tout en mettant en place des actions éco-responsables adaptées.
    </p>
  </div>

</section>
