---
import { Image } from "astro:assets";
import gii_bubble_go_dashboard_large from "../../../public/images/tableau-de-board-du-plan-actions-personnalisé.webp";
---

<section class="md:flex-row items-center text-[#243544] 2xl:mx-auto 2xl:container w-full mx-auto lg:gap-4 flex flex-col lg:py-24 py-12">
  {/* Left Side - Text Content */}
  <div class="md:w-1/2 2xl:pl-0 flex flex-col gap-8 text-lg lg:pl-20 px-4">
    <div class="flex items-center gap-6 lg:mt-2">
      <h3 class="text-7xl font-medium">3.</h3>
      <div>
        <h4 class="font-semibold text-[28px]">Évaluez votre maturité</h4>
        <p class="mt-4 text-lg">
          Cela signifie d'abord cerner la nature des actions avec un jeu de cartes qui vous immerge dans la stratégie à mettre en œuvre.
        </p>
      </div>
    </div>
    <p class="text-lg">
      Activez votre plan d'actions personnalisé, stratégique et opérationnel grâce à une formulation unique et discursive, pour agir concrètement et à votre rythme. Suivez vos indicateurs clés de performance pour apprécier votre progression en temps réel, tout en réduisant votre budget IT, votre empreinte environnementale et en améliorant votre image de marque.
    </p>
  </div>

  <div class="md:w-1/2 w-full flex justify-end mt-8 md:mt-0 px-4 lg:px-0">
    <figure>
      <Image
      alt="Capture d'écran du tableau de bord de votre plan d'actions personnalisé, stratégique et opérationnel pour suivre vos indicateurs clés de performance"
      src={gii_bubble_go_dashboard_large}
      class="relative self-stretch my-auto lg:w-full flex lg:block xl:left-[50px] 2xl:left-0"
      loading="lazy"
      aria-label="Capture d'écran du tableau de bord de votre plan d'actions personnalisé, stratégique et opérationnel pour suivre vos indicateurs clés de performance"
    />
      <figcaption class="hidden">Tableau de bord de Green IT Impact - Suivi de votre plan d'actions.</figcaption>
    </figure>
  </div>
</section>