---
import { Image } from "astro:assets";
import gii_step_5_pic_large from "../../../public/images/gii_step_5_pic_large_2.webp";
---

<section class="md:flex-row items-center text-[#243544] 2xl:mx-auto 2xl:container w-full mx-auto lg:gap-4 flex flex-col lg:py-24 py-12">
  <div class="md:w-1/2 2xl:pl-0 pl-4 flex flex-col gap-8 text-lg lg:pl-20 px-4">
    <div class="flex items-center gap-6 lg:mt-2">
      <h3 class="text-7xl font-medium">5.</h3>
      <div>
        <h4 class="font-semibold text-[28px]">Pilotez les évolutions !</h4>
        <p class="mt-4 text-lg">
          Suivez, analysez et comprenez les indicateurs de performance grâce à un point mensuel réalisé par nos meilleurs experts.
        </p>
      </div>
    </div>
    <p class="text-lg">
      Vous pourrez aller toujours plus loin dans la démarche, les résultats et la performance environnementale, économique et sociétale. Nos experts vous accompagnent dans la mise en œuvre de votre stratégie en vous offrant un accompagnement personnalisé.
    </p>
  </div>
  <div class="md:w-1/2 w-full flex justify-end mt-8 md:mt-0 px-4 lg:px-0">
    <figure>
      <Image
      alt="Capture d'écran du tableau de bord offrant une vue à 360° sur l'ensemble des section Green It Impact."
      src={gii_step_5_pic_large}
      class="relative self-stretch my-auto lg:w-full flex lg:block xl:left-[50px] 2xl:left-0"
      loading="lazy"
      aria-label="Capture d'écran du tableau de bord offrant une vue à 360° sur l'ensemble des section Green It Impact."
    />
      <figcaption class="hidden">Tableau de bord de Green IT Impact - pour analyser  les résultats et la performance environnementale, économique et sociétale avec une vue à 360°.</figcaption>
    </figure>
    
  </div>
</section>