---
import { Image } from "astro:assets";
import gii_step_4_pic_large from "../../../public/images/tableau-de-board-collaborateurs.webp";
---
<section class="relative md:flex-row items-center text-white 2xl:mx-auto 2xl:container w-full mx-auto lg:gap-4 flex flex-col lg:py-24 py-12 bg-[#283E52]">
  
  <div class="order-2 md:order-1 lg:order-1 md:w-1/2 w-full flex justify-start mt-8 md:mt-0 px-4 lg:px-0 2xl:px-0 xl:-left-[85px] 2xl:left-0 relative">

    <figure>
      <Image
      alt="Capture d'écran du tableau de bord des collaborateurs pour les sensibiliser, les former et les transformer en ambassadeurs de votre démarche NR"
      src={gii_step_4_pic_large}
      class="self-stretch my-auto lg:w-full flex lg:block"
      loading="lazy"
      aria-label="Capture d'écran du tableau de bord des collaborateurs pour les sensibiliser, les former et les transformer en ambassadeurs de votre démarche NR"
    />
      <figcaption class="hidden">Tableau de bord de Green IT Impact - Suivi des collaborateurs.</figcaption>
    </figure>
  </div>
  <div class="md:w-1/2 2xl:pl-16 lg:pl-0 px-4 flex flex-col gap-8 text-lg order-1 lg:order-2 lg:pr-20 2xl:pr-0">
    <div class="flex items-center gap-6 lg:mt-2">
      <h3 class="text-7xl font-medium">4.</h3>
      <div>
        <h4 class="font-semibold text-[28px] leading-[1.5]">Engagez vos collaborateurs et parties prenantes !</h4>
      </div>
    </div>
    <p class="text-lg">
      Impliquez l'ensemble de l'écosystème interne et externe de l'entreprise pour maximiser les impacts positifs grâce à une approche innovante de "gamification" qui les challenge au quotidien.
    </p>
    <p class="text-lg">
      Éduquez et challengez vos collaborateurs pour les sensibiliser, les former et les transformer en ambassadeurs de votre démarche NR vertueuse. Grâce à des challenges mensuels, des quiz, des fresques, des MOOC, des vidéos et des questionnaires, suivez leurs progressions mois après mois et observez les résultats tangibles de votre stratégie numérique responsable, tout en mettant en place des actions éco-responsables adaptées.
    </p>
  </div>

</section>
