---
import Seo from "../components/Seo.astro";
import "../styles/global.css";
import MainLayout from "../layouts/MainLayout.astro";
import PhygitalSolutionHeader from "../layouts/solution/PhygitalSolutionHeader.astro";

import Breadcrumb from "../components/Breadcrumb.astro";
import StepOne from "../layouts/solution/StepOne.astro";
import StepTwo from "../layouts/solution/StepTwo.astro";
import StepThree from "../layouts/solution/StepThree.astro";
import StepFour from "../layouts/solution/StepFour.astro";
import StepFive from "../layouts/solution/StepFive.astro";
import StepSix from "../layouts/solution/StepSix.astro";
import ConformiteLoiReen from "../layouts/solution/ConformiteLoiReen.astro";
---

<html lang="en">
  <head>
    <Seo
      seo={{
        title: "Solution - Green It Impact",
        description:
          "Green IT Impact : déployez une stratégie numérique responsable avec notre solution phygitale, alliant innovation, durabilité et conformité à la loi REEN",
        keywords: "",
        canonical: "https://greenitimpact.io/",
        image:
          "https://greenitimpact.io/images/gii_logo_seo.webp",
        type: "website",
        themeColor: "#ffffff",
      }}
    />
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicons/fav-icon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Solution - Green It Impact</title>
  </head>
  <MainLayout>
    <div class="flex w-full flex-col justify-center mx-auto">
      <Breadcrumb
        mainPage="accueil"
        subPage="solution"
        mainLink="/"
        subLink="/solution"
      />
    </div>
    <section
      class="main-component flex flex-col bg-white"
      aria-label="Phygital Solution Section">
      <div
        class="">
        <PhygitalSolutionHeader />
      </div>
      <div class="2xl:mx-auto 2xl:container w-full mx-auto py-12 lg:py-24 px-4 lg:px-20 2xl:px-0">
        <h2 class="text-[36px] font-semibold text-[#243544]">
          LES 6 ÉTAPES DE LA MÉTHODOLOGIE GREEN IT IMPACT...
        </h2>
      </div>
      <StepOne />
      <div class="bg-[#283E52] relative">
        <StepTwo />
      </div>
      <div class="relative">
        <StepThree />
      </div>

      <div class="bg-[#283E52] relative">
        <StepFour />
      </div>
      <StepFive />
      <div
        class="bg-[#283E52] py-12 lg:py-24">
        <StepSix />
      </div>
      <ConformiteLoiReen />
    </section>
  </MainLayout>
</html>
