---
import { Image } from "astro:assets";
import imgimages_gii_banner_arrow_right_webp from "../../../public/images/gii_banner_arrow_right.webp";
import gii_hero_large_webp from "../../../public/images/gii_hero_large_2.webp";
---

<section
  class="container px-4 mx-auto w-full grid grid-cols-1 xl:grid-cols-2 font-semibold text-white py-16 xl:py-36 gap-6 min-h-[calc(100vh_-_85px)]"
  aria-label="Hero Dark Section Wrapper"
>
  <div
    class="flex lg:min-h-[440px] w-full flex-col items-start gap-12 z-20"
    aria-label="Left Content of Hero Dark Section"
  >
    <h1
      class="text-[#243544] container text-4xl self-stretch lg:text-[54px] leading-snug font-bold flex flex-col items-start gap-4"
      aria-label="Main title for Hero Dark Section"
    >
      Agissez pour un Numérique plus éthique et soutenable
    </h1>
    <nav
      class="max-md:max-w-full flex flex-wrap items-center justify-between md:justify-start gap-1 md:gap-4 lg:gap-9 container md:text-2xl"
      aria-label="Hero Dark Navigation"
    >
      <span
        class="my-auto self-stretch text-[#243544] font-normal"
        aria-label="Navigation Item 1: Évaluez">Évaluez</span
      >
      <Image
        alt="arrowRightIcon"
        src={imgimages_gii_banner_arrow_right_webp}
        width="40"
        height="54"
        class="my-auto aspect-[1.1] w-[40px] lg:w-[54px] shrink-0 self-stretch object-contain"
        aria-label="Right arrow icon for navigation"
      />
      <span
        class="my-auto self-stretch text-[#243544] font-normal"
        aria-label="Navigation Item 2: Activez">Activez</span
      >
      <Image
        alt="arrowRightIcon"
        src={imgimages_gii_banner_arrow_right_webp}
        width="40"
        height="54"
        class="my-auto aspect-[1.08] w-[40px] lg:w-[54px] shrink-0 self-stretch object-contain"
        aria-label="Right arrow icon for navigation"
      /><span
        class="my-auto self-stretch text-[#243544] font-normal"
        aria-label="Navigation Item 3: Améliorez">Améliorez</span
      >
    </nav>
    <div class="w-full lg:w-auto">
      <a
        href="/contact"
        class="bg-[#AEC90B] px-12 py-2.5 container font-semibold text-slate-800 rounded-md hover:bg-[#AEC90B] transition inline-block text-center"
        aria-label="Button to reserve a demo">Réserver une démo</a
      >
    </div>
  </div>
  <div
    class="lg:min-w-[715px] lg:h-[550px] w-full relative lg:absolute 2xl:right-0 2xl:relative flex justify-end z-0 lg:-right-[45px]"
  >
    <Image
      alt="Banner right image"
      src={gii_hero_large_webp}
      width="750"
      height="654"
      class="object-contain w-full lg:w-auto lg:absolute h-full"
      aria-label="Right side image of the Hero Dark Banner"
    />
  </div>
</section>
