---
import { Image } from "astro:assets";
---

<section class="text-white flex flex-col justify-center gap-10 bg-[#253544]">
  <div class="mx-auto container flex flex-col gap-8 py-8">
    <p class="text-[28px] text-start">
      Avec des indicateurs clés de performances... 
    </p>
    <Image  alt="Act dashboard image" src="/images/gii_act_dashboard.webp" width="891" height="442" class="mx-auto"/>
    <div class="mx-auto text-center">
      <a
        href="#"
        class="bg-[#AEC90B] px-12 py-2.5 container  font-semibold text-slate-800 rounded-md hover:bg-[#AEC90B] transition inline-block"
        aria-label="Book a demo">
        Découvrir la solution
      </a>
    </div>
  </div>
</section>