<div
  class="w-full flex flex-col px-4 lg:px-[120px] py-16 mx-auto items-center gap-4 bg-white z-20 relative"
>
  <h2
    class="max-md:max-w-full flex w-full flex-col justify-center text-center text-[26px] leading-snug lg:text-4xl font-semibold lg:leading-none text-[#243544]"
    aria-level="2"
    aria-labelledby="statsTitle"
  >
  Green It Impact, c'est surtout des résultats 
  </h2>
  <div
    class="container mx-auto max-md:mt-10 max-md:max-w-full mt-8 flex h-auto w-full flex-wrap items-start gap-10 text-center"
  >
    <article
      class="flex lg:h-auto lg:w-[314px] lg:min-h-[204px] lg:min-w-[240px] shrink grow flex-col rounded-[20px] border border-solid px-5 py-6 border-[#243544] items-center"
      aria-labelledby="statCard0"
    >
      <h3
        class="self-center text-2xl text-[#243544] font-semibold"
        aria-level="3"
      >
        100%
      </h3>
      <p
        class="mt-0 text-xl leading-8 text-[#243544]"
        aria-describedby="statDescription0"
      >
        des impacts mesurés et suivis en temps réel grâce à des indicateurs clés
        de performance.
      </p>
    </article>
    <article
      class="flex lg:h-auto lg:w-[314px] lg:min-h-[204px] lg:min-w-[240px] shrink grow flex-col rounded-[20px] border border-solid px-5 py-6 border-[#243544] items-center"
      aria-labelledby="statCard1"
    >
      <h3
        class="self-center text-2xl text-[#243544] font-semibold"
        aria-level="3"
      >
        - de 30%*
      </h3>
      <p
        class="mt-0 text-xl leading-8 text-[#243544]"
        aria-describedby="statDescription1"
      >
        de l'impact environnemental grâce au déploiement d'un plan d'action
        discursif, temporel et personnalisé.
      </p>
    </article>
    <article
      class="flex lg:h-auto lg:w-[314px] lg:min-h-[204px] lg:min-w-[240px] shrink grow flex-col rounded-[20px] border border-solid px-5 py-6 border-[#243544] items-center"
      aria-labelledby="statCard2"
    >
      <h3
        class="self-center text-2xl text-[#243544] font-semibold"
        aria-level="3"
      >
        98%*
      </h3>
      <p
        class="mt-0 text-xl leading-8 text-[#243544]"
        aria-describedby="statDescription2"
      >
        des collaborateurs proactifs grâce à notre système de gamification
        collaboratif, éducatif et récurrent.
      </p>
    </article>
  </div>
  <div
    class="container mx-auto max-md:mt-10 max-md:max-w-full mt-12 flex w-full flex-wrap items-start gap-10 text-center"
  >
    <article
      class="flex h-auto lg:min-h-[176px] md:min-h-[176px] w-[314px] min-w-[240px] shrink grow flex-col items-center text-center rounded-[20px] border border-solid px-5 py-6 border-[#243544]"
      aria-labelledby="statCard3"
    >
      <h3
        class="self-center text-2xl text-[#243544] font-semibold"
        aria-level="3"
      >
        100%
      </h3>
      <p
        class="mt-0 text-xl leading-8 text-[#243544]"
        aria-describedby="statDescription3"
      >
        d'influence sur vos parties prenantes (clients, fournisseurs, etc.).
      </p>
    </article>
    <article
      class="flex h-auto lg:min-h-[176px] md:min-h-[176px] w-[314px] min-w-[240px] shrink grow flex-col items-center text-center rounded-[20px] border border-solid px-5 py-6 border-[#243544]"
      aria-labelledby="statCard4"
    >
      <h3
        class="self-center text-2xl text-[#243544] font-semibold"
        aria-level="3"
      >
        30%*
      </h3>
      <p
        class="mt-0 text-xl leading-8 text-[#243544]"
        aria-describedby="statDescription4"
      >
        c'est l'économie budgétaire après la première année.
      </p>
    </article>
    <article
      class="flex h-auto lg:min-h-[176px] md:min-h-[176px] w-[314px] min-w-[240px] shrink grow flex-col items-center text-center rounded-[20px] border border-solid px-5 py-6 border-[#243544]"
      aria-labelledby="statCard5"
    >
      <h3
        class="self-center text-2xl text-[#243544] font-semibold"
        aria-level="3"
      >
        ++
      </h3>
      <p
        class="mt-0 text-xl leading-8 text-[#243544]"
        aria-describedby="statDescription5"
      >
        c&#x27;est l&#x27;amélioration de votre image de marque.
      </p>
    </article>
  </div>
  <p
    class="container mx-auto max-md:max-w-full mt-12 mb-12 self-start text-center text-xl leading-10 text-[#243544]"
    aria-describedby="statsFooterText"
  >
    Nos experts peuvent vous accompagner dans la mise en place de votre
    stratégie afin de vous garantir les meilleurs résultats. Nous nous engageons
    sur les résultats obtenus. Si le coût de notre prestation est supérieure à
    vos gains économiques,
    <br /> Nous vous remboursons l'accompagnement. <br />
    *moyenne des résultats obtenus
  </p>
  <div class="container text-center lg:w-auto w-full">
    <div class="mx-auto text-center">
      <a
        href="#"
        class="bg-[#AEC90B] px-12 py-2.5 container font-semibold text-slate-800 rounded-md hover:bg-[#AEC90B] transition inline-block"
        aria-label="Book a demo"
      >
        Réserver une démo
      </a>
    </div>
  </div>
</div>
