---
import { Image } from "astro:assets";
import logo_green_web from "../../../public/images/logo-green-web.webp";
import logo_bubble_go from "../../../public/images/logo-bubble-go.webp";
import logo_rockstein_group from "../../../public/images/logo-rockstein-group.webp";
---

<div
  class="container mx-auto py-16 px-4 lg:px-0 text-[#243544] flex flex-col items-center gap-8"
>
  <p class="text-[36px] font-semibold leading-[1.5]">
    Ils ont choisi Green IT Impact pour réduire leur empreinte écologique…
  </p>
  <div class="flex lg:flex-row flex-col items-center justify-center lg:gap-8">
    <Image
      alt="Logo Green Web"
      src={logo_green_web}
      width={300}
      height={176}
      class="aspect-square h-[176px] lg:w-[300px] max-w-full self-center object-contain mx-auto"
    />
    <Image
      alt="Logo Bubble Go"
      src={logo_bubble_go}
      width={247}
      height={154}
      class="aspect-square h-[154px] lg:w-[247px] max-w-full self-center object-contain mx-auto"
    />
    <Image
      alt="Logo Rockstein Group"
      src={logo_rockstein_group}
      width={300}
      height={176}
      class="aspect-square h-[176px] lg:w-[300px] max-w-full self-center object-contain mx-auto"
    />
  </div>
  <div class="flex flex-col items-center gap-4">
    <p class="text-center md:text-left">
      Et bien d'autres... Entreprises, collectivités, ou consultants NR
    </p>
    <a class="font-semibold underline" href="/solution">
      Découvrez la solution : Green It Impact.
    </a>
  </div>
  <div class="w-full lg:w-auto">
    <a href="/contact" class="bg-[#AEC90B] px-12 py-2.5 container font-semibold text-slate-800 rounded-md hover:bg-[#AEC90B] transition text-center inline-block">
      Contactez-nous
    </a>
  </div>
</div>