---
import { Image } from "astro:assets";
import gii_choose_1_webp from "../../../public/images/gii_choose_1.webp";
import gii_choose_2 from "../../../public/images/gii_choose_2.svg";
import gii_choose_3_webp from "../../../public/images/gii_choose_3.webp";
---

<div
  class="container mx-auto py-16 px-4 lg:px-0 text-[#243544] flex flex-col items-center gap-8"
>
  <p class="text-[36px]">
    Ils ont choisi Green IT Impact pour réduire leur empreinte écologique…
  </p>
  <div class="flex lg:flex-row flex-col items-center justify-center lg:gap-8">
    <Image
      alt="Image for Écologique strategy"
      src={gii_choose_1_webp}
      width="300"
      height="176"
      class="aspect-square h-[176px] lg:w-[300px] max-w-full self-center object-contain mx-auto"
    />
    <Image
      alt="Image for Écologique strategy"
      src={gii_choose_2}
      width="140"
      height="115"
      class="aspect-square h-[115px] lg:w-[140px] max-w-full self-center object-contain mx-auto"
    />
    <Image
      alt="Image for Écologique strategy"
      src={gii_choose_3_webp}
      width="300"
      height="176"
      class="aspect-square h-[176px] lg:w-[300px] max-w-full self-center object-contain mx-auto"
    />
  </div>
  <div class="flex flex-col items-center gap-4">
    <p class="text-center md:text-left">
      Et bien d'autres... Entreprises, collectivités, ou consultants NR
    </p>
    <p class="font-semibold underline">
      Découvrez la solution : Green It Impact.
    </p>
  </div>
<div class="w-full lg:w-auto">
  <a href="/contact" class="bg-[#AEC90B] px-12 py-2.5 container font-semibold text-slate-800 rounded-md hover:bg-[#AEC90B] transition  text-center inline-block"
  aria-labelledby="testimonialButton"> Contactez-nous </a>
</div>
</div>
