---
import { Image } from "astro:assets";
import imgimages_gii_logo_svg from "../../public/images/gii_logo.svg";
import imgimages_menu_bar_webp from "../../public/images/menu-bar.webp";
---

<header
  class="flex flex-col w-full h-auto mb-[1px] header-section bg-[#243544]"
>
  <section
    class="container mx-auto px-4 header-component flex flex-col overflow-hidden text-white"
    role="banner"
    aria-label="Header section with dark background"
  >
    <div class="max-md:max-w-full py-4">
      <div class="mx-auto container">
        <div
          class="header-component flex flex-wrap justify-between gap-10 font-bold items-center"
        >
          <!-- Logo -->
          <a href="/" class="shrink-0">
            <svg role="img" aria-labelledby="logo-title" width="218" height="54" fill="none" xmlns="http://www.w3.org/2000/svg">
              <title id="logo-title">Logo de Green It Impact</title>
              <path d="M97.844 24.872v4.568c0 2.744-1.775 3.757-4.447 3.757h-.2c-2.673 0-4.448-.994-4.448-3.757V18.757c0-2.652 1.775-3.757 4.447-3.757h.201c2.672 0 4.447 1.123 4.447 3.757v1.547c0 .664-.348 1.014-1.006 1.014h-.915c-.66 0-1.007-.35-1.007-1.014v-1.068c0-1.27-.659-1.62-1.61-1.62-.952 0-1.61.35-1.61 1.62v9.762c0 1.27.658 1.62 1.61 1.62.951 0 1.61-.35 1.61-1.62v-2.652h-.695c-.659 0-1.007-.35-1.007-1.013v-.46c0-.664.348-1.014 1.007-1.014h2.635c.64 0 .988.35.988 1.013ZM108.055 33.013h-.878c-.586 0-.952-.258-1.135-.847l-1.976-6.263h-1.482v6.078c0 .663-.348 1.013-1.007 1.013h-.915c-.659 0-1.006-.35-1.006-1.013V16.234c0-.663.347-1.013 1.006-1.013h3.568c2.672 0 4.447 1.068 4.447 3.757v3.168c0 1.694-.714 2.763-1.921 3.297l2.141 6.373c.219.7-.11 1.197-.842 1.197Zm-5.49-9.633h1.537c.952 0 1.611-.35 1.611-1.62v-2.322c0-1.27-.659-1.62-1.611-1.62h-1.537v5.562ZM117.279 33.013h-5.801c-.659 0-1.007-.35-1.007-1.013V16.234c0-.663.348-1.013 1.007-1.013h5.727c.659 0 1.007.35 1.007 1.013v.552c0 .663-.348 1.013-1.007 1.013h-3.806v4.881h3.038c.659 0 1.006.35 1.006 1.013v.553c0 .663-.347 1.013-1.006 1.013h-3.038v5.138h3.88c.658 0 1.006.35 1.006 1.013v.553c0 .681-.348 1.05-1.006 1.05ZM126.391 33.013h-5.82c-.658 0-1.006-.35-1.006-1.013V16.234c0-.663.348-1.013 1.006-1.013h5.728c.659 0 1.006.35 1.006 1.013v.552c0 .663-.347 1.013-1.006 1.013h-3.806v4.881h3.037c.659 0 1.007.35 1.007 1.013v.553c0 .663-.348 1.013-1.007 1.013h-3.037v5.138h3.898c.658 0 1.006.35 1.006 1.013v.553c0 .681-.348 1.05-1.006 1.05ZM130.361 33.013h-.658c-.659 0-1.007-.35-1.007-1.013V16.234c0-.663.348-1.013 1.007-1.013h1.061c.586 0 .952.276 1.135.847l3.44 10.167V16.234c0-.663.347-1.013 1.006-1.013h.659c.659 0 1.006.35 1.006 1.013V32c0 .663-.347 1.013-1.006 1.013h-.915c-.586 0-.952-.276-1.135-.847l-3.586-10.72V32c0 .644-.366 1.013-1.007 1.013Z" fill="#AEC90B"/><path d="M145.421 33.013h-.915c-.659 0-1.007-.35-1.007-1.013V16.234c0-.663.348-1.013 1.007-1.013h.915c.659 0 1.006.35 1.006 1.013V32c.019.644-.347 1.013-1.006 1.013ZM156.219 16.234v.553c0 .663-.348 1.013-1.006 1.013h-1.94v14.182c0 .663-.348 1.013-1.007 1.013h-.914c-.659 0-1.007-.35-1.007-1.013V17.8h-1.958c-.659 0-1.006-.35-1.006-1.013v-.553c0-.663.347-1.013 1.006-1.013h6.826c.64-.018 1.006.35 1.006 1.013ZM162.275 33.013h-.915c-.659 0-1.007-.35-1.007-1.013V16.234c0-.663.348-1.013 1.007-1.013h.915c.658 0 1.006.35 1.006 1.013V32c0 .644-.348 1.013-1.006 1.013ZM172.634 29.569c-.183.589-.531.847-1.08.847s-.933-.258-1.116-.847l-2.379-7.441V32c0 .663-.348 1.013-1.007 1.013h-.713c-.659 0-1.007-.35-1.007-1.013V16.234c0-.663.348-1.013 1.007-1.013h.915c.585 0 .951.258 1.134.847l3.129 9.504 3.166-9.504c.183-.553.549-.847 1.135-.847h1.006c.659 0 1.007.35 1.007 1.013V32c0 .663-.348 1.013-1.007 1.013h-.805c-.659 0-1.006-.35-1.006-1.013v-9.872l-2.379 7.44ZM188.79 18.978v3.39c0 2.688-1.775 3.757-4.447 3.757h-1.647V32c0 .663-.348 1.013-1.006 1.013h-.915c-.659 0-1.007-.35-1.007-1.013V16.234c0-.663.348-1.013 1.007-1.013h3.568c2.672-.018 4.447 1.05 4.447 3.757Zm-2.928.46c0-1.27-.659-1.62-1.61-1.62h-1.538v5.728h1.538c.951 0 1.61-.35 1.61-1.62v-2.487ZM197.574 33.013h-.933c-.604 0-.988-.313-1.079-.94l-.476-3.02h-3.239l-.476 3.02c-.11.645-.476.94-1.08.94h-.787c-.677 0-1.043-.387-.914-1.087l2.909-15.784c.11-.608.512-.921 1.116-.921h1.812c.604 0 1.006.313 1.116.92l2.946 15.785c.128.7-.219 1.087-.915 1.087Zm-2.873-6.41-1.244-7.901-1.244 7.901h2.488ZM208.261 26.77v2.67c0 2.744-1.775 3.757-4.446 3.757h-.055c-2.672 0-4.447-.994-4.447-3.757V18.757c0-2.652 1.775-3.757 4.447-3.757h.055c2.671 0 4.446 1.123 4.446 3.757v2.229c0 .663-.347 1.013-1.006 1.013h-.915c-.659 0-1.006-.35-1.006-1.013v-1.787c0-1.252-.604-1.62-1.538-1.62-.933 0-1.537.386-1.537 1.62v9.762c0 1.253.604 1.62 1.537 1.62.934 0 1.538-.386 1.538-1.62v-2.21c0-.663.347-1.013 1.006-1.013h.915c.659.018 1.006.387 1.006 1.031ZM217.631 16.234v.553c0 .663-.347 1.013-1.006 1.013h-1.94v14.182c0 .663-.348 1.013-1.006 1.013h-.915c-.659 0-1.007-.35-1.007-1.013V17.8h-1.94c-.658 0-1.006-.35-1.006-1.013v-.553c0-.663.348-1.013 1.006-1.013h6.826c.641-.018.988.35.988 1.013ZM93.673 46.791h-3.971l-.769 2.1H88l3.184-8.694h.988l3.184 8.694h-.933l-.75-2.1Zm-1.995-5.489-1.72 4.77h3.459l-1.739-4.77ZM99.676 41.908c1.72 0 2.836.921 3.147 2.34h-.933c-.22-.977-1.043-1.585-2.196-1.585-1.336 0-2.434.921-2.434 2.782 0 1.86 1.08 2.8 2.434 2.8 1.153 0 1.958-.59 2.196-1.603h.933c-.311 1.381-1.427 2.339-3.147 2.339-1.922 0-3.313-1.363-3.313-3.537 0-2.173 1.391-3.536 3.313-3.536ZM104.689 42.757h-.952v-.737h.952v-1.73h.897v1.73h1.884v.737h-1.903v4.273c0 .847.293 1.105 1.08 1.105h.805v.755h-.933c-1.19 0-1.83-.497-1.83-1.86v-4.273ZM112.539 42.756h-.951v-.737h.951v-.478c0-1.474.696-2.174 2.416-2.174v.755c-1.171 0-1.537.424-1.537 1.419v.478h1.592v.737h-1.592v6.133h-.879v-6.133ZM119.364 48.98c-1.921 0-3.385-1.362-3.385-3.535 0-2.192 1.501-3.537 3.422-3.537 1.921 0 3.422 1.345 3.422 3.536-.018 2.174-1.519 3.537-3.459 3.537Zm0-.754c1.281 0 2.544-.884 2.544-2.763s-1.226-2.763-2.525-2.763c-1.3 0-2.507.884-2.507 2.763s1.189 2.763 2.488 2.763ZM125.293 48.89h-.878v-6.87h.878v1.215c.385-.847 1.172-1.344 2.343-1.344v.92h-.238c-1.135 0-2.105.516-2.105 2.248v3.83ZM134.737 48.98c-1.555 0-2.635-.773-2.745-2.044h.897c.073.756.732 1.29 1.848 1.29.97 0 1.519-.534 1.519-1.18 0-1.694-4.099-.699-4.099-3.277 0-1.014.97-1.86 2.397-1.86 1.464 0 2.434.773 2.507 2.099h-.878c-.055-.774-.623-1.345-1.647-1.345-.915 0-1.483.498-1.483 1.087 0 1.86 4.045.866 4.081 3.297-.018 1.123-.988 1.934-2.397 1.934ZM144.673 48.892h-.879v-1.216c-.421.866-1.317 1.326-2.324 1.326-1.555 0-2.781-.958-2.781-2.965v-4.015h.86v3.923c0 1.528.823 2.302 2.086 2.302 1.281 0 2.159-.81 2.159-2.487v-3.738h.879v6.87ZM149.027 48.98c-1.555 0-2.635-.773-2.745-2.044h.897c.073.756.732 1.29 1.848 1.29.97 0 1.519-.534 1.519-1.18 0-1.694-4.099-.699-4.099-3.277 0-1.014.97-1.86 2.397-1.86 1.464 0 2.434.773 2.507 2.099h-.878c-.055-.774-.622-1.345-1.647-1.345-.915 0-1.482.498-1.482 1.087 0 1.86 4.044.866 4.08 3.297-.018 1.123-.97 1.934-2.397 1.934ZM153.309 42.757h-.952v-.737h.952v-1.73h.897v1.73h1.866v.737h-1.885v4.273c0 .847.293 1.105 1.08 1.105h.805v.755h-.933c-1.19 0-1.83-.497-1.83-1.86v-4.273ZM160.393 41.908c1.372 0 2.324.737 2.708 1.621v-1.51h.878v6.87h-.878V47.36c-.403.884-1.354 1.62-2.708 1.62-1.867 0-3.258-1.399-3.258-3.554-.018-2.155 1.373-3.518 3.258-3.518Zm.146.774c-1.446 0-2.544 1.013-2.544 2.762 0 1.732 1.098 2.782 2.544 2.782 1.409 0 2.544-1.05 2.544-2.763 0-1.713-1.135-2.781-2.544-2.781ZM165.771 40.049c0-.387.293-.645.641-.645.347 0 .64.258.64.645a.643.643 0 0 1-.64.663c-.366 0-.641-.276-.641-.663Zm.202 1.952h.878v6.87h-.878v-6.87ZM173.951 44.947c0-1.529-.823-2.302-2.086-2.302-1.281 0-2.159.81-2.159 2.486v3.758h-.879v-6.87h.879v1.178c.439-.865 1.317-1.289 2.324-1.289 1.555 0 2.781.958 2.781 2.966v4.033h-.86v-3.96ZM179.625 41.908c1.372 0 2.324.737 2.708 1.621v-1.51h.879v6.87h-.879V47.36c-.402.884-1.354 1.62-2.708 1.62-1.867 0-3.257-1.399-3.257-3.554-.019-2.155 1.372-3.518 3.257-3.518Zm.165.774c-1.446 0-2.544 1.013-2.544 2.762 0 1.732 1.098 2.782 2.544 2.782 1.409 0 2.543-1.05 2.543-2.763 0-1.713-1.153-2.781-2.543-2.781ZM188.773 41.91c1.885 0 3.258 1.382 3.258 3.518 0 2.155-1.391 3.555-3.258 3.555-1.372 0-2.305-.718-2.708-1.62v1.51h-.86v-9.32h.86v3.96c.421-.884 1.373-1.603 2.708-1.603Zm-.164.774c-1.391 0-2.544 1.05-2.544 2.763 0 1.712 1.153 2.762 2.544 2.762 1.445 0 2.543-1.05 2.543-2.78 0-1.75-1.116-2.745-2.543-2.745ZM193.642 39.57h.878v9.32h-.878v-9.32ZM199.46 48.98c-1.94 0-3.349-1.362-3.349-3.535 0-2.192 1.391-3.537 3.349-3.537 1.994 0 3.22 1.437 3.22 3.187 0 .276 0 .46-.018.7h-5.673c.074 1.62 1.19 2.45 2.471 2.45 1.171 0 1.958-.627 2.196-1.53h.933c-.311 1.29-1.409 2.266-3.129 2.266Zm-2.452-3.904h4.812c.037-1.602-1.116-2.413-2.378-2.413-1.245 0-2.343.81-2.434 2.413ZM207.731 40.086h.879v8.804h-.879v-8.804ZM209.964 40.086h5.746v.737h-2.433v8.067h-.879v-8.067h-2.434v-.737Z" fill="#fff"/><path d="M38.5 53.103c19.9 0 36.276-14.793 38.474-33.815.27-2.31-1.576-4.353-3.96-4.353H3.986c-2.363 0-4.229 2.023-3.96 4.353C2.224 38.31 18.62 53.103 38.5 53.103Z" fill="#8BB704"/><path d="m66.38 41.436-27.384-26.5v38.167A38.866 38.866 0 0 0 66.38 41.436Z" fill="#AEC90B"/><path d="M38.499 53.103h.476V14.935L11.26 42.05c6.986 6.845 16.625 11.054 27.239 11.054Z" fill="#C7D825"/><path d="M38.997 14.935H3.985c-2.363 0-4.229 2.023-3.96 4.353 1.017 8.867 5.121 16.816 11.236 22.761l27.736-27.114Z" fill="#E0E836"/><path d="M38.997 34.816c11.132 0 20.17-8.908 20.17-19.88h-40.34c0 10.992 9.018 19.88 20.17 19.88Z" fill="#243544"/><path d="M38.996 21.534c3.69 0 6.675-2.942 6.675-6.579h-13.37c0 3.617 3.005 6.58 6.695 6.58Z" fill="#AEC90B"/><path d="M37.028 15.834a2.365 2.365 0 0 1 3.566-.163l9.349 9.97-12.148-6.374c-1.306-.675-1.658-2.31-.767-3.433ZM25.213 0c-4.29 0-7.794 3.453-7.794 7.683h15.61c0-4.23-3.504-7.683-7.816-7.683ZM52.76 0c-4.31 0-7.793 3.453-7.793 7.683h15.609C60.576 3.453 57.073 0 52.76 0Z" fill="#AEC90B"/></svg>
            <!-- <Image
              alt="Green It Impact Logo"
              src={imgimages_gii_logo_svg}
              width="217"
              height="53"
              class="my-auto shrink-0 self-stretch object-contain"
              loading="lazy"
            /> -->
          </a>

          <!-- Desktop Navigation -->
          <nav
            class="max-md:hidden my-auto hidden items-center gap-8 whitespace-nowrap font-normal text-base leading-none text-white lg:flex"
            aria-label="Main navigation menu"
          >
            <a id="concept" href="/concept" class="concept hover:text-[#AEC90B]"
              >Concept</a
            >
            <a id="solution" href="/solution" class="hover:text-[#AEC90B]"
              >Solution</a
            >
            <a id="responsable" href="/responsable" class="hover:text-[#AEC90B]"
              >Numérique Responsable</a
            >
            <a
              id="greenweb"
              href="https://green-web.fr/"
              class="uppercase hover:text-[#AEC90B]">MADE BY GREENWEB</a
            >
          </nav>

          <!-- Desktop "Réserver une démo" Button -->
          <button class="max-md:hidden hidden lg:flex">
            <a
              href="/contact"
              class="bg-[#AEC90B] px-12 py-2.5 container font-semibold text-slate-800 rounded-md hover:bg-[#AEC90B] transition"
              aria-label="Book a demo"
            >
              Réserver une démo
            </a>
          </button>

          <!-- Mobile Menu Button -->
          <div class="flex items-center lg:hidden">
            <button
              id="menu-toggle"
              class="flex flex-col gap-1 items-center justify-center focus:outline-none"
            >
              <Image
                alt="Menu icon"
                src={imgimages_menu_bar_webp}
                width="400"
                height="300"
                class="object-contain w-8 h-8"
              />
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      id="mobile-menu"
      class="fixed inset-0 bg-black bg-opacity-50 backdrop-blur-md transform translate-x-full transition-transform duration-500 ease-[cubic-bezier(0.4, 0, 0.2, 1)] lg:hidden z-50"
    >
      <div
        class="w-full absolute top-0 right-0 max-w-xs h-full bg-slate-900 text-white shadow-2xl rounded-l-lg p-6 flex flex-col"
      >
        <button
          id="close-menu"
          class="absolute top-4 right-4 text-white text-3xl">&times;</button
        >
        <nav
          class="flex flex-col items-start space-y-6 mt-12 text-lg font-medium w-full"
        >
          <a
            id="concept mobile"
            href="/concept"
            class="pl-2 w-full text-start py-3 rounded-lg hover:bg-[#AEC90B] hover:text-slate-900 transition"
            >Concept</a
          >
          <a
            id="solution mobile"
            href="/solution"
            class="pl-2 w-full text-start py-3 rounded-lg hover:bg-[#AEC90B] hover:text-slate-900 transition"
            >Solution</a
          >
          <a
            id="responsable mobile"
            href="/responsable"
            class="pl-2 w-full text-start py-3 rounded-lg hover:bg-[#AEC90B] hover:text-slate-900 transition"
            >Numérique Responsable</a
          >
          <a
            href="https://green-web.fr/"
            class="pl-2 w-full text-start py-3 uppercase rounded-lg hover:bg-[#AEC90B] hover:text-slate-900 transition"
            >MADE BY GREENWEB</a
          >
          <button class="flex">
            <a
              href="/contact"
              class="bg-[#AEC90B] px-12 py-2.5 container font-semibold text-slate-800 rounded-md hover:bg-[#AEC90B] transition"
              aria-label="Book a demo"
            >
              Réserver une démo
            </a>
          </button>
        </nav>
      </div>
    </div>
  </section>
</header>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const menuToggle = document.getElementById("menu-toggle");
    const mobileMenu = document.getElementById("mobile-menu");
    const closeMenu = document.getElementById("close-menu");
    const navLinks = document.querySelectorAll("nav a");

    const currentPath = window.location.pathname;

    navLinks.forEach((link) => {
      const href = link.getAttribute("href");
      if (
        href &&
        currentPath != "/" &&
        href.includes(currentPath.replace(/^\/+|\/+$/g, ""))
      ) {
        link.classList.add("text-[#AEC90B]");
      } else {
        link.classList.remove("text-[#AEC90B]");
      }
    });
    menuToggle.addEventListener("click", () => {
      mobileMenu.classList.toggle("translate-x-0");
      mobileMenu.classList.toggle("translate-x-full");
    });

    closeMenu.addEventListener("click", () => {
      mobileMenu.classList.add("translate-x-full");
    });

    document.addEventListener("click", (event) => {
      if (
        !mobileMenu.contains(event.target as any) &&
        !menuToggle.contains(event.target as any)
      ) {
        mobileMenu.classList.add("translate-x-full");
      }
    });
  });
</script>
