<section class="flex flex-col gap-8 pt-20 w-full">
  <div class="flex flex-col gap-16 w-full " aria-label="Philosophy Wrapper">
    <div class=" container  mx-auto    max-xl:px-4 " aria-label="Top Section">
      <div class="max-w-screen-2xl mx-auto flex flex-col items-center gap-12" aria-label="Philosophy  container ">
        <h4
          class="text-[26px] font-semibold lg:leading-none lg:text-[2.25rem] lg:text-left self-stretch mb-0 lg:!my-auto max-md:max-w-full text-[#283E52]"
          aria-label="Green IT Impact Title">
          Green IT Impact est avant tout une approche axée sur la performance
          pour les entreprises et les collectivités :
        </h4>
      </div>
    </div>
  </div>

  <div class="bg-white py-[19px]" aria-label="Green IT Impact Body ">
    <div class="flex flex-col gap-8 items-start     max-xl:px-4    container  mx-auto" aria-label="Body  container ">
      <div class="flex flex-col gap-6 items-start" aria-label="Performance Text 1">
        <h4 class="text-xl font-semibold leading-8 text-[#283E52]"
          aria-label="La performance environnementale">
          La performance environnementale
        </h4>
        <div class=" leading-7 text-[#283E52] ml-3" aria-label="Description for La performance environnementale">
          <div class="flex items-start lg:items-center" aria-label="Performance Description">
            
            <ul>
              <li class="ml-5 list-disc leading-7 text-[#283E52] text-lg lg:text-xl"
                aria-label="Améliorez votre performance environnementale en réduisant concrètement votre empreinte.">Améliorez votre performance environnementale en réduisant
                concrètement votre empreinte.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-6 items-start" aria-label="Performance Text 2">
        <h4 class="text-xl font-semibold leading-8 text-[#283E52]" aria-label="La performance économique">
          La performance économique
        </h4>
        <div class="leading-7 text-[#283E52] ml-3" aria-label="Description for La performance économique">
          <div class="flex items-start lg:items-center" aria-label="Performance Description">
            
            <ul>
              <li class="ml-5 list-disc leading-7 text-[#283E52] text-lg lg:text-xl"
                aria-label="Réalisez des économies sur le budget des systèmes d'information en adoptant des pratiques engageantes qui génèrent de la durabilité.">Réalisez des économies sur le budget des systèmes
                d&#x27;information en adoptant des pratiques engageantes qui
                génèrent de la durabilité.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-6 items-start" aria-label="Performance Text 3">
        <h4 class="text-xl font-semibold leading-8 text-[#283E52]" aria-label="La performance technique">
          La performance technique
        </h4>
        <div class="leading-7 text-[#283E52] ml-3" aria-label="Description for La performance technique">
          <div class="flex items-start lg:items-center" aria-label="Performance Description">
            
            <ul>
              <li class="ml-5 list-disc leading-7 text-[#283E52] text-lg lg:text-xl"
                aria-label="Augmentez la performance technique de votre SI et de vos services numériques par une approche de « faire mieux avec moins ».">Augmentez la performance technique de votre SI et de vos services
                numériques par une approche de « faire mieux avec moins ».
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-6 items-start" aria-label="Performance Text 4">
        <h4 class="text-xl font-semibold leading-8 text-[#283E52]" aria-label="La performance sociétale">
          La performance sociétale
        </h4>
        <div class="leading-7 text-[#283E52] ml-3" aria-label="Description for La performance sociétale">
          <div class="flex items-start lg:items-center" aria-label="Performance Description">
            
            <ul>
              <li class="ml-5 list-disc leading-7 text-[#283E52] text-lg lg:text-xl" aria-label="Impliquez, éduquez et mettez au défi l'ensemble de
                l'écosystème interne et externe de votre entreprise ou
                collectivité.">Impliquez, éduquez et mettez au défi l'ensemble de
                l'écosystème interne et externe de votre entreprise ou
                collectivité.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto text-center mb-20 mt-6 px-4 w-full lg:w-auto">
    <a
      href="https://drive.digitalforest.fr/apps/calendar/appointment/swJexzmM8c8t"
      class="bg-[#AEC90B] px-12 py-2.5 container  font-semibold text-slate-800 rounded-md hover:bg-[#AEC90B] transition inline-block"
      aria-label="Book a demo">
      Réserver une démo
    </a>
  </div>

</section>