---
import { Image } from "astro:assets";
import gii_digital_technology_img_1_svg from "../../../public/images/gii_digital_technology_img_1.svg";
---

<div
  class="max-md:max-w-full py-24 bg-[#243544]"
  aria-label="Current day section wrapper"
>
  <div class="flex flex-col gap-12 container mx-auto" aria-label="Current day  container ">
    <div class="flex flex-col gap-10 px-4 lg:px-0">
      <h2
        class=" text-4xl font-semibold leading-none text-white text-center lg:text-left"
      >
        Aujourd'hui,
      </h2>
      <p class="text-lg text-white leading-[2]">
        Le numérique représente, à travers l'ensemble de son cycle de vie, de la
        fabrication à la commercialisation, en passant par l'usage et la fin de
        vie, une source indubitable de pollution, qui s'accumule au fur et à
        mesure que l'innovation technologique introduit de nouvelles générations
        d'appareils.
      </p>
    </div>
    <div
      class="flex flex-wrap lg:justify-between flex-col flg:flex-nowrap lg:flex-row gap-10 items-center w-full whitespace-nowrap px-4"
      aria-label="Current day title  container "
    >
      <div class="bg-white rounded-[20px] p-8 lg:max-w-[532px] flex flex-col gap-8">
        <p class="whitespace-normal leading-[2] text-lg">Chaque année, les marques dévoilent leurs nouveaux modèles, et chaque
          année, les consommateurs renouvellent les leurs. Pendant ce temps, les
          déchets s'amoncellent : en 2022, ils représentaient 62 millions de
          tonnes, soit l'équivalent du chargement de 1,55 million de poids
          lourds.
        </p>
        <p class="whitespace-normal leading-[2] text-lg">
          Le recyclage en traite moins de 10 %. En parallèle de l'empreinte
          colossale due à l'accumulation liée à la fabrication et au manque de
          débouchés pour les appareils en fin de vie, leur usage consomme
          presque 15 % de la production d'électricité mondiale, produite
          majoritairement grâce à des énergies fossiles.
        </p>
      </div>
      <Image
        alt="Image representing digital technology"
        src={gii_digital_technology_img_1_svg}
        width="400"
        height="300"
        class="max-w-screen-md:flex self-center my-auto lg:w-[628px]"
      />
    </div>
  </div>
</div>
